@charset 'utf-8';

.form {
  padding: 1rem 1rem;
  border-radius: .5rem;

  fieldset {
    padding: 0;
    width: 100%;
    border: none;

    &:first-child div.row { margin-top: 0; }

    &.row-05 {
      label { margin-top: .5rem; }
      label:first-child { margin-top: 0; }
    }

    &.row-1 {
      label { margin-top: 1rem; }
      label:first-child { margin-top: 0; }
    }
  }

  legend {
    width: 100%;
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid $border;
    color: $title;

    + .row { margin-top: 0; }
  }

  label {
    font-size: .8rem;
    display: block;
    margin-bottom: .25rem;

    &.required {
      &::after {
        content: '*';
        display: inline-block;
        margin-left: .25rem;
        color: $red;
        // vertical-align: middle;
      }
    }

    &.valid {
      &::after {
        content: '✔️';
        font-size: .5rem;
        line-height: 1;
        vertical-align: top;
      }
    }

    &.error {
      color: $error;

      + input { border-color: $error; }
      + select { border-color: $error; }
    }
  }

  .btn_address {
    margin-top: calc(21px + .5rem);
    height: 2rem;
    width: 100%;
    background-color: $disabled;
    font-size: 14px;
  }

  &.scrolling {
    max-height: 80vh;
    overflow-y: scroll;
  }
}

.modal {
  .form {
    width: 100%;
    margin-top: 0;
  }
}

input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 2rem;
  line-height: 1;
  font-size: 1rem;
  border: 1px solid #dcdee2;
  border-radius: .25rem;
  vertical-align: middle;
  outline: none;

  &:disabled {
    background-color: $disabled;
    color: $gray;
    cursor: not-allowed;
  }

  &:focus,
  &:active { border: 1px solid $primary; }
}

input {
  padding: .2rem .5rem .25rem;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  &::placeholder { color: #c5c8ce; }

  &.button { width: calc(80% - .25rem); }
  + button {
    margin-left: .25rem;
    width: 20%;
    padding: .2rem .5rem .25rem;
    background-color: $gray;
    border-color: $border;
  }
}

input[type="checkbox"] { @include hover; }

select {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1.5rem 0 .25rem;
}

input, select {
  &.size-4 { width: 4rem; }
  &.size-5 { width: 5rem; }
  &.size-6 { width: 6rem; }
  &.size-7 { width: 7rem; }
  &.size-8 { width: 8rem; }
  &.size-9 { width: 9rem; }
  &.size-10 { width: 10rem; }
  &.size-11 { width: 11rem; }
  &.size-12 { width: 12rem; }
  &.size-13 { width: 13rem; }
  &.size-14 { width: 14rem; }
  &.size-15 { width: 15rem; }
  &.size-16 { width: 16rem; }
  &.size-20 { width: 20rem; }
  &.size-24 { width: 24rem; }
  &.size-25 { width: 25rem; }
  &.size-half { width: 50%; }
}

textarea {
  padding: .5rem;
  width: 100%;
  height: 8rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid $border;
  border-radius: .25rem;
  outline: 0;
  vertical-align: middle;
  resize: none;

  &:focus,
  &:active { border: 1px solid $primary; }
}


// search

.search_wrap {

  :first-child { margin-left: 0; }

  @include clearfix;
  margin-bottom: .5rem;

  label {
    color: $gray;
    margin-right: .5rem;
  }

  label + input:focus { color: $primary; }
}

.separator {
  color: $border;
  font-weight: bold;
  margin: 0 .5rem;
}

.title {
  margin-bottom: 1px;
  font-size: .75rem;
  color: $title;
}

.action_wrap { @include clearfix; }
