@charset 'utf-8';

// Responsive
html, body {
  font-size: 22px;
  @media (max-width: 1200px) { font-size: 20px; }
  @media (max-width: 1024px) { font-size: 18px; }
  background-color: $background;
}

@font-face {
  font-family: 'SingleDay';
  src: local('SingleDay'),
       url('~@/assets/fonts/SingleDay-Regular.ttf') format('truetype');
}
