@import '@/../colony-vue/src/assets/scss/variable.scss';

$primary: #42b983;
$success: #2d8cf0;
$warning: #ff9900;
$error: #ed3f14;

$background: #F7F8F8;
$disabled: #c5c8ce;
$border: #E2E4EE;

$title: #17233d;
